body > img{
        width: 42px;
        /* margin-block: 94px 57px; */
        margin-left: 50%;
}

header{
    display: flex;
    flex-direction: column;
    
    padding-top: 120px;
    padding: 94px;
    align-items: center;

    background: url(/assets/Background_Intro.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;

}

#third{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1040px;
}

#second{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#first{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 680px;
    
    .subtitle{
        span{
            color: var(--red);
        }
        
    }

    h1{
        text-align: center;
        margin-top: 8px;
        
    }

    p:not(.subtitle){
        text-align: center;
        margin-top: 20px;
    }
}

#profile{
        
    position: relative;
    width: 112px;
    margin-bottom: 64px;

    #user-ico {
        border: 3px solid red;
        border-radius: 100%;
        padding: 3px;
    }

    #tag-user{
        position: absolute;
        bottom: 0px;
        right: 10px;
    }
}

#technologies{
    display: flex;
    gap: 16px;
    margin-top: 80px;;
}

#title{
    width: 680px;
    display: flex;
}
